<section class="section section-top">

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">

                <!-- Preheading -->
                <p class="font-weight-medium text-center text-xs text-uppercase text-primary animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                    by Andy Creative Studio
                </p>

                <!-- Heading -->
                <h1 class="mb-4 text-center animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
                    Creating beautiful memories
                </h1>

                <!-- Text -->
                <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas harum aperiam minus corporis, nesciunt nobis quaerat voluptatumunt qui similique.
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row form-row align-items-center">
            <div class="col-3">

                <div class="img-square">
                    <img src="assets/img/93.jpg" alt="..." class="img-cover">
                </div>

            </div>
            <div class="col-6">
                <div class="row form-row align-items-end mb-2">
                    <div class="col-7">

                        <div class="img-square">
                            <img src="assets/img/91.jpg" alt="..." class="img-cover">
                        </div>

                    </div>
                    <div class="col-5">

                        <div class="img-square">
                            <img src="assets/img/92.jpg" alt="..." class="img-cover">
                        </div>

                    </div>
                </div>
                <!-- / .row -->
                <div class="row form-row">
                    <div class="col-5">

                        <div class="img-square">
                            <img src="assets/img/94.jpg" alt="..." class="img-cover">
                        </div>

                    </div>
                    <div class="col-7">

                        <div class="img-square">
                            <img src="assets/img/95.jpg" alt="..." class="img-cover">
                        </div>

                    </div>
                </div>
                <!-- / .row -->
            </div>
            <div class="col-3">

                <div class="img-square">
                    <img src="assets/img/96.jpg" alt="..." class="img-cover">
                </div>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>

<app-features></app-features>

<app-list></app-list>