<section class="section" id="reservation">

    <!-- Line -->
    <div class="line line-top"></div>

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">

                <!-- Heading -->
                <h2 class="mb-4 text-center">
                    Make reservation
                </h2>

                <!-- Subheading -->
                <p class="mb-5 text-center text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam illo praesentium sequi in cum, beatae maiores quae qui.
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">

                <div class="row justify-content-center">
                    <div class="col-auto">

                        <!-- Submit -->
                        <a href="tel:+26879700129" class="btn btn-outline-primary">
        Reserve a table
      </a>

                    </div>
                </div>


            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>