<section class="section">

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">

                <!-- Title -->
                <h6 class="title">
                    Our Location
                </h6>

            </div>
            <div class="col-md-10">

                <!-- Heading -->
                <h3 class="mb-4">
                    Call us or <span class="text-primary">visit us</span>
                </h3>

                <!-- Subheading -->
                <p class="text-muted mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nam voluptatum facilis, atque officiis possimus totam placeat maiores at tempore nulla corporis rem aliquid iusto ab, distinctio, nostrum cumque asperiores!
                </p>

                <!-- Content -->
                <div class="row">
                    <div class="col-md-6 col-lg-5">

                        <!-- Heading -->
                        <h5>
                            Location:
                        </h5>

                        <!-- Address -->
                        <p class="text-muted">
                            Somewhere, Around, Eswatini
                        </p>

                        <!-- Heading -->
                        <h5>
                            Email:
                        </h5>

                        <!-- Address -->
                        <p class="text-muted">
                            <a href="mailto:admin@acsresort.com">
                admin@acsresort.com
              </a>
                        </p>

                    </div>
                    <div class="col-md-6 col-lg-5">

                        <!-- Heading -->
                        <h5>
                            Call us:
                        </h5>

                        <!-- Phone -->
                        <p class="text-muted">
                            <a href="tel:1234567890">
                +268 7600 0000
              </a>
                        </p>

                    </div>
                </div>
                <!-- / .row -->

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>