<section class="section">

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">

                <!-- Heading -->
                <h2 class="text-center mb-4">
                    Room Pricing
                </h2>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    Secure payment via Stripe or Paypal. 100% money back guarantee.
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">

                <!-- Card -->
                <div class="card card-lg bg-white card-active mb-3 mb-lg-0">

                    <!-- Body -->
                    <div class="card-body text-center">

                        <!-- Title -->
                        <h4 class="card-title">
                            Single Rooms
                        </h4>

                        <!-- Price -->
                        <h3 class="card-title font-weight-normal text-primary">
                            E400.00/night
                        </h3>

                        <!-- Text -->
                        <ul class="card-text list-iconed">
                            <li class="list-iconed-item">
                                Breakfast
                            </li>
                            <li class="list-iconed-item">
                                Dinner
                            </li>
                            <li class="list-iconed-item">
                                Free Swimming Pool Entry
                            </li>
                        </ul>

                        <!-- Button -->
                        <a href="" target="_blank" class="btn btn-outline-primary">
              Book Now
            </a>

                    </div>

                </div>
                <!-- / .card -->

            </div>
            <div class="col-md-6 col-lg-4">

                <!-- Card -->
                <div class="card card-lg bg-white">

                    <!-- Body -->
                    <div class="card-body text-center">

                        <!-- Title -->
                        <h4 class="card-title">
                            Double Rooms
                        </h4>

                        <!-- Price -->
                        <h3 class="card-title font-weight-normal text-primary">
                            E800/night
                        </h3>

                        <!-- Text -->
                        <ul class="card-text list-iconed">
                            <li class="list-iconed-item">
                                Breakfast
                            </li>
                            <li class="list-iconed-item">
                                Dinner
                            </li>
                            <li class="list-iconed-item">
                                Free Swimming Pool Entry
                            </li>
                        </ul>

                        <!-- Button -->
                        <a href="" target="_blank" class="btn btn-outline-primary">
              Book Now
            </a>

                    </div>

                </div>
                <!-- / .card -->

            </div>

            <div class="col-md-6 col-lg-4">

                <!-- Card -->
                <div class="card card-lg bg-white card-active mb-3 mb-lg-0">

                    <!-- Body -->
                    <div class="card-body text-center">

                        <!-- Title -->
                        <h4 class="card-title">
                            Honeymoon Suite
                        </h4>

                        <!-- Price -->
                        <h3 class="card-title font-weight-normal text-primary">
                            E1600.00 for 2 nights
                        </h3>

                        <!-- Text -->
                        <ul class="card-text list-iconed">
                            <li class="list-iconed-item">
                                Breakfast
                            </li>
                            <li class="list-iconed-item">
                                Dinner
                            </li>
                            <li class="list-iconed-item">
                                Free Swimming Pool Entry
                            </li>
                            <li class="list-iconed-item">
                                2 Free Activities of your choosing
                            </li>
                        </ul>

                        <!-- Button -->
                        <a href="" target="_blank" class="btn btn-outline-primary">
            Book Now
          </a>

                    </div>

                </div>
                <!-- / .card -->

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>