<section class="section">

    <!-- Content -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-5 offset-lg-1">

                <!-- Image -->
                <div class="img-effect img-effect-solid mb-5 mb-md-0">
                    <img src="assets/img/68.jpg" class="img-fluid" alt="...">
                </div>

            </div>
            <div class="col-md-6 col-lg-4 offset-lg-1">

                <!-- Heading -->
                <h2 class="mb-4 animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="fpAfterLoad">
                    Have some good food with us
                </h2>

                <!-- Content -->
                <p class="text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="fpAfterLoad">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, maiores, aperiam. Excepturi assumenda non quasi ipsa quidem harum debitis aut alias dicta. Laudantium reprehenderit ea, suscipit nulla deleniti excepturi repudiandae!
                </p>

                <!-- Button -->
                <a [routerLink]="['/restaurant']" class="btn btn-outline-primary animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="fpAfterLoad">
          Take a look at our menu
        </a>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>