<section class="section">

    <!-- Content -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-5">

                <!-- Image -->
                <div class="img-effect img-effect-dotted mb-5 mb-md-0">
                    <img src="assets/img/90.jpg" class="img-fluid" alt="...">
                </div>

            </div>
            <div class="col-12 col-md-6 offset-lg-1">

                <!-- Preheading -->
                <p class="mb-2 font-weight-medium text-uppercase text-xs text-muted">
                    Key Activities
                </p>

                <!-- Heading -->
                <h2 class="mb-4">
                    See what you can do at our resort
                </h2>

                <!-- Subheading -->
                <p class="mb-5 text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nobis ipsum officiis accusantium eveniet voluptatibus iusto, accusamus in, temporibus, numquam dicta laudantium.
                </p>

                <div class="row">
                    <div class="col-12 col-lg-6">

                        <!-- Item -->
                        <div class="mb-5">

                            <!-- Icon -->
                            <div class="text-primary mb-4">
                                <span class="icon icon-tick icon-2x"></span>
                            </div>

                            <!-- Heading -->
                            <h4 class="mb-3">
                                Swimming
                            </h4>

                            <!-- Content -->
                            <p class="text-muted mb-0">
                                Necessitatibus nobis cupiditate eveniet repellat.
                            </p>

                        </div>

                    </div>
                    <div class="col-12 col-lg-6">

                        <!-- Item -->
                        <div class="mb-5">

                            <!-- Icon -->
                            <div class="text-primary mb-4">
                                <span class="icon icon-tick icon-2x"></span>
                            </div>

                            <!-- Heading -->
                            <h4 class="mb-3">
                                Hiking
                            </h4>

                            <!-- Content -->
                            <p class="text-muted mb-0">
                                Necessitatibus nobis cupiditate eveniet repellat.
                            </p>

                        </div>

                    </div>
                </div>
                <!-- / .row -->

                <div class="row">
                    <div class="col-12 col-lg-6">

                        <!-- Item -->
                        <div class="mb-5 mb-lg-0">

                            <!-- Icon -->
                            <div class="text-primary mb-4">
                                <span class="icon icon-tick icon-2x"></span>
                            </div>

                            <!-- Heading -->
                            <h4 class="mb-3">
                                Quadbike Riding
                            </h4>

                            <!-- Content -->
                            <p class="text-muted mb-0">
                                Necessitatibus nobis cupiditate eveniet repellat.
                            </p>

                        </div>

                    </div>
                    <div class="col-12 col-lg-6">

                        <!-- Item -->
                        <div class="mb-0">

                            <!-- Icon -->
                            <div class="text-primary mb-4">
                                <span class="icon icon-tick icon-2x"></span>
                            </div>

                            <!-- Heading -->
                            <h4 class="mb-3">
                                Ziplining
                            </h4>

                            <!-- Content -->
                            <p class="text-muted mb-0">
                                Necessitatibus nobis cupiditate eveniet repellat.
                            </p>

                        </div>

                    </div>
                </div>
                <!-- / .row -->

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>