<section class="section" id="testimonials">

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">

                <!-- Heading -->
                <h2 class="mb-4 text-center">
                    Client testimonials
                </h2>

                <!-- Subheading -->
                <p class="text-center text-muted mb-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam illo ut repellat tempora sequi vitae provident optio pariatur.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Slider -->
                <div class="testimonial-slider flickity-enabled is-draggable" tabindex="0">

                    <!-- Item -->


                    <!-- Item -->


                    <!-- Item -->


                    <div class="flickity-viewport" style="height: 336.75px; touch-action: pan-y;">
                        <div class="flickity-slider" style="left: 0px; transform: translateX(0%);">
                            <div class="testimonial-slider-item is-selected" style="position: absolute; left: 0%;">
                                <div class="testimonial-slider-item-inner">

                                    <!-- Quote -->
                                    <div class="quote quote-sm">
                                        <blockquote class="quote-blockquote">
                                            <p class="quote-blockquote-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam exercitationem nobis incidunt alias ipsa quis, rerum doloribus nostrum, recusandae. Laboriosam, quasi, dolores! Itaque nihil quae, omnis, minus nisi iste iure.
                                            </p>
                                            <footer class="quote-blockquote-footer">
                                                <div class="avatar avatar-lg mr-3">
                                                    <img src="assets/img/16.jpg" alt="..." class="img-cover rounded-circle">
                                                </div>
                                                <span>
                      John Doe, <span class="text-zigzag">Chicago</span>
                                                </span>
                                            </footer>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                            <div class="testimonial-slider-item" aria-hidden="true" style="position: absolute; left: 100%;">
                                <div class="testimonial-slider-item-inner">

                                    <!-- Quote -->
                                    <div class="quote quote-sm">
                                        <blockquote class="quote-blockquote">
                                            <p class="quote-blockquote-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam exercitationem nobis incidunt alias ipsa quis, rerum doloribus nostrum, recusandae. Laboriosam, quasi, dolores! Itaque nihil quae, omnis, minus nisi iste iure.
                                            </p>
                                            <footer class="quote-blockquote-footer">
                                                <div class="avatar avatar-lg mr-3">
                                                    <img src="assets/img/18.jpg" alt="..." class="img-cover rounded-circle">
                                                </div>
                                                <span>
                      Anna Doe, <span class="text-zigzag">San Francisco</span>
                                                </span>
                                            </footer>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                            <div class="testimonial-slider-item" style="position: absolute; left: 200%;" aria-hidden="true">
                                <div class="testimonial-slider-item-inner">

                                    <!-- Quote -->
                                    <div class="quote quote-sm">
                                        <blockquote class="quote-blockquote">
                                            <p class="quote-blockquote-content">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam exercitationem nobis incidunt alias ipsa quis, rerum doloribus nostrum, recusandae. Laboriosam, quasi, dolores! Itaque nihil quae, omnis, minus nisi iste iure.
                                            </p>
                                            <footer class="quote-blockquote-footer">
                                                <div class="avatar avatar-lg mr-3">
                                                    <img src="assets/img/17.jpg" alt="..." class="img-cover rounded-circle">
                                                </div>
                                                <span>
                      Jane Roe, <span class="text-zigzag">Los Angeles</span>
                                                </span>
                                            </footer>
                                        </blockquote>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / .testimonials-slider -->

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>