<section class="section section-top section-full">

    <!-- Cover -->
    <div class="bg-cover" style="background-image: url(assets/img/38.jpg)"></div>

    <!-- Overlay -->
    <div class="bg-overlay"></div>

    <!-- Triangles -->
    <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
    <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-5 align-self-end">

                <!-- Preheading -->
                <p class="font-weight-medium text-xs text-uppercase text-white text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="0" data-animation-trigger="load">
                    by Andy Creative Studio
                </p>

                <!-- Heading -->
                <h1 class="text-white mb-4 animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
                    A fun gateaway spot for you and the fam.
                </h1>

                <!-- Subheading -->
                <p class="text-white text-muted mb-5 animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis provident et ab, ullam in quidem nostrum quo sunt beatae odio fugit.
                </p>

                <!-- Button -->
                <div class="mb-5 mb-md-0 animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="3" data-animation-trigger="load">
                    <a [routerLink]="['/contact']" class="btn btn-outline-primary text-white" style="">
            Get Contact Details
          </a>
                </div>

            </div>
            <div class="col-md-4 col-lg-7 align-self-center d-flex justify-content-end">

                <!-- Heading -->
                <h4 class="text-vertical text-white mb-0">
                    <span>ACS Resort</span>
                </h4>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>