<section class="section bg-light">

    <!-- Triangles -->
    <div class="bg-triangle bg-triangle-dark bg-triangle-top bg-triangle-left"></div>
    <div class="bg-triangle bg-triangle-dark bg-triangle-bottom bg-triangle-right"></div>

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6">

                <!-- Heading -->
                <h2 class="mb-4 text-center">
                    Our menu
                </h2>

                <!-- Subheading -->
                <p class="mb-5 text-center text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi asperiores beatae quae inventore, molestiae dolorum.
                </p>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            <div class="col-12">

                <!-- Nav -->
                <nav class="nav nav-pills justify-content-center mb-6">
                    <a href="#menuOne" class="nav-link active" data-toggle="tab">
            Pizzas
          </a>
                    <a href="#menuTwo" class="nav-link" data-toggle="tab">
            Starters
          </a>
                    <a href="#menuThree" class="nav-link" data-toggle="tab">
            Salads
          </a>
                    <a href="#menuFour" class="nav-link" data-toggle="tab">
            Sandwiches
          </a>
                </nav>

            </div>
        </div>
        <!-- / .row -->
        <div class="row">
            <div class="col-12">

                <!-- Content -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="menuOne">

                        <div class="row">
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/70.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Deluxe pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Green Peppers, Onions &amp; Mushrooms.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/71.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Vegetable pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce, Tomatoes, Cauliflower &amp; Broccoli.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/72.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            White pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce With Tomatoes, Mild Banana Pepper Rings &amp; Black Olives.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr class="d-md-none">

                            </div>
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/73.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Meat pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Bacon, Ham &amp; Beef.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E160
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/74.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Buffalo chicken pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Hot Sauce &amp; White Meat Chicken.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/75.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Mediterranean pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Fresh Spinach, Feta And Provolone Cheese, Roasted Red Peppers.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                            </div>
                        </div>
                        <!-- / .row -->

                    </div>
                    <div class="tab-pane fade" id="menuTwo">

                        <div class="row">
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/72.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            White pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce With Tomatoes, Mild Banana Pepper Rings &amp; Black Olives.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/71.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Vegetable pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce, Tomatoes, Cauliflower &amp; Broccoli.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/70.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Deluxe pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Green Peppers, Onions &amp; Mushrooms.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr class="d-md-none">

                            </div>
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/74.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Buffalo chicken pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Hot Sauce &amp; White Meat Chicken.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/75.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Mediterranean pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Fresh Spinach, Feta And Provolone Cheese, Roasted Red Peppers.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/73.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Meat pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Bacon, Ham &amp; Beef.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E160
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                            </div>
                        </div>
                        <!-- / .row -->

                    </div>
                    <div class="tab-pane fade" id="menuThree">

                        <div class="row">
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/73.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Meat pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Bacon, Ham &amp; Beef.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E160
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/74.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Buffalo chicken pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Hot Sauce &amp; White Meat Chicken.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/75.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Mediterranean pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Fresh Spinach, Feta And Provolone Cheese, Roasted Red Peppers.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr class="d-md-none">

                            </div>
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/70.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Deluxe pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Green Peppers, Onions &amp; Mushrooms.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/71.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Vegetable pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce, Tomatoes, Cauliflower &amp; Broccoli.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/72.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            White pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce With Tomatoes, Mild Banana Pepper Rings &amp; Black Olives.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                            </div>
                        </div>
                        <!-- / .row -->

                    </div>
                    <div class="tab-pane fade" id="menuFour">

                        <div class="row">
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/74.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Buffalo chicken pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Hot Sauce &amp; White Meat Chicken.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/71.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Vegetable pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce, Tomatoes, Cauliflower &amp; Broccoli.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E120
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/73.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Meat pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Bacon, Ham &amp; Beef.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E160
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr class="d-md-none">

                            </div>
                            <div class="col-12 col-md-6">

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/72.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            White pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Homemade White Sauce With Tomatoes, Mild Banana Pepper Rings &amp; Black Olives.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/70.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Deluxe pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Pepperoni, Sausage, Green Peppers, Onions &amp; Mushrooms.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                                <hr>

                                <!-- Item -->
                                <div class="row align-items-center">
                                    <div class="col-4 col-lg-3">

                                        <!-- Image -->
                                        <div class="img-square">
                                            <img src="assets/img/75.jpg" alt="..." class="img-cover">
                                        </div>

                                    </div>
                                    <div class="col ml-n4">

                                        <!-- Heading -->
                                        <h5>
                                            Mediterranean pizza
                                        </h5>

                                        <!-- Text -->
                                        <p class="mb-0 text-sm text-muted">
                                            Fresh Spinach, Feta And Provolone Cheese, Roasted Red Peppers.
                                        </p>

                                    </div>
                                    <div class="col-auto">

                                        <!-- Price -->
                                        <h5 class="mb-0">
                                            E150
                                        </h5>

                                    </div>
                                </div>
                                <!-- / .row -->

                            </div>
                        </div>
                        <!-- / .row -->

                    </div>
                </div>

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>