<section class="section bg-light">

    <!-- Triangles -->
    <div class="bg-triangle bg-triangle-dark bg-triangle-top bg-triangle-left"></div>
    <div class="bg-triangle bg-triangle-dark bg-triangle-bottom bg-triangle-right"></div>

    <!-- Content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">

                <!-- Heading -->
                <h2 class="text-center mb-4">
                    Top Rooms
                </h2>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    We have a range of rooms to choose from, to cater to your taste. Take a look at some of our most requested rooms.
                </p>

            </div>
        </div>
        <div class="row no-gutters align-items-stretch">
            <div class="col-md-4">

                <!-- Card -->
                <div class="card card-tall card-stretch border-0 mb-3 md-md-0">

                    <!-- Image -->
                    <div class="bg-cover" style="background-image: url(assets/img/30.jpg)"></div>

                    <!-- Overlay -->
                    <div class="bg-overlay"></div>

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Icon -->
                        <div class="card-icon text-primary">
                            <span class="icon icon-bed"></span>
                        </div>

                        <!-- Title -->
                        <h4 class="card-title text-white">
                            Single
                        </h4>

                        <!-- Text -->
                        <p class="card-text text-white text-muted mb-0">
                            Perfect when travelling alone and just want a proper rest.
                        </p>

                    </div>

                </div>
                <!-- / .card -->

            </div>
            <div class="col-md-4">

                <!-- Card -->
                <div class="card card-tall card-stretch card-standout shadow border-0 mb-3 md-md-0">

                    <!-- Image -->
                    <div class="bg-cover" style="background-image: url(assets/img/41.jpg)"></div>

                    <!-- Overlay -->
                    <div class="bg-overlay"></div>

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Icon -->
                        <div class="card-icon text-primary">
                            <span class="icon icon-bed"></span>
                        </div>

                        <!-- Title -->
                        <h4 class="card-title text-white">
                            Double
                        </h4>

                        <!-- Text -->
                        <p class="card-text text-white text-muted mb-0">
                            perfect for couples waiting to spend some time together.
                        </p>

                    </div>

                </div>
                <!-- / .card -->

            </div>
            <div class="col-md-4">

                <!-- Card -->
                <div class="card card-tall card-stretch border-0">

                    <!-- Image -->
                    <div class="bg-cover" style="background-image: url(assets/img/29.jpg)"></div>

                    <!-- Overlay -->
                    <div class="bg-overlay"></div>

                    <!-- Body -->
                    <div class="card-body">

                        <!-- Icon -->
                        <div class="card-icon text-primary">
                            <span class="icon icon-bed"></span>
                        </div>

                        <!-- Title -->
                        <h4 class="card-title text-white">
                            Honeymoon Suite
                        </h4>

                        <!-- Text -->
                        <p class="card-text text-white text-muted mb-0">
                            perfect for couples at Honeymoon phase
                        </p>

                    </div>

                </div>
                <!-- / .card -->

            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->

</section>